@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #dfdbdb;
}
.navbar h1 {
  /* color: #f1356d; */
  color: #4285f4;
  /* color: #5d98f7; */
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #5290f3;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.fulldiv {
  display: flex;
  /* border: 1px solid green; */
  /* width: 100%; */
  margin: 0 auto;
  border-bottom: 1.5px solid #eceff5;
  margin-bottom: 1rem;
  border-radius: 10px;
  /* background-color: #f7f9fc; */
}
.fulldiv:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.preview {
  /* border: 1px solid #b1b2b4; */
  /* border-radius: 10px; */
  padding: 10px;
  margin: 10px;
  width: 700px;
}
.options {
  display: flex;
  /* border: 1px solid #4285f4; */
  width: 250px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 3px;
}
.options ul {
  /* border: 1px solid #4285f4; */
  margin-left: none;
}
.options ul li {
  border: 1px solid #d1d2d4;
  list-style: none;
  display: inline;
  border-radius: 2px;
  padding: 3px;
  margin: 5px;
}
